:root{
    /* LIGHT VERSION */
--primary-color: #1F7AE0;/*(A vibrant blue for a fresh and modern look)*/
--Secondary-Color: #e9950e;/*(A warm orange for a welcoming and energetic feel)*/
--Accent-Color: #4CAF50;/*(A lively green to draw attention to important elements)*/
--Accent-dark-Color: #07930c;
--Background-Color: #fff;/*(Clean and bright white background) */
--Text-Color:#333333;/*(Dark gray for legible text) */

    /* DARK VERSION */
--dark-Primary-Color:#7D3C98;/*(A rich purple for an elegant and sophisticated vibe)*/
--dark-Secondary-Color: #FFC300 ;  /*(A vibrant yellow for a striking contrast) */
--dark-Accent-Color: #E74C3C ; /*(A bold red to highlight important elements) */
--dark-Background-Color:#212121 ; /*(Dark gray or black background) */
--dark-Text-Color:#FFFFFF ; /*(White text for high contrast) */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-inline: 3%;
}
.container{
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

/* ////////////////// MENU ////////////// */
header{
    position: fixed;
    display: flex;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #bdbdbd solid;
    /* height: 3.25rem; */
    transition: 0.4s;
    padding: 20px 2.25rem;
}


header a{
    position: relative;
    text-decoration: none;
    color: #333333;
    padding-inline: 18px;
    font-size: 16px;
}

/* .signIn-btn a{
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
} */
/* .signIn-btn a:hover{
    background-color: #1a5eac;
} */
/* header ul a:hover{
   background-color: #e4e4e4;
   padding: 20px 18px;
   border-bottom: 1px #bdbdbd solid;
} */
nav{
    position: relative;
}
nav ul{
    position: relative;
    list-style-type: none;
    display: flex;
}
header.stiky{
  padding: 25px 3.25rem;
  background-color: #e4e4e4;
}

/* //////////// home content //////// */
.home-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-content-text{
    width: 80%;
    margin: 30% auto;
}
.home-content-text h1{
   font-size: 3rem;
   font-weight: bolder; 
   margin-block: 1rem
}
.home-content-text span{
    color: var(--Secondary-Color);
}
.home-content-text p{
    margin-block-end: 1.75rem;
}
.home-content-text a{
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--Secondary-Color);
}
.home-content-img{
    margin: 20% auto;
}

/* /////// BUTTON ////// */
.mobile-nav-toggle{
    position: absolute;
    z-index: 10000;
    width: 1.25rem;
    aspect-ratio: 1;
    background-image: url(../icone/close_FILL0_wght400_GRAD0_opsz48.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: none;
    /* background-size: cover; */
}

/* ////////////// END MENU //////////////// */

/* /////////////// DISCOVER SECTION /////////// */
.discover{
    padding-block: 10%;
}
.title-discovery{
width: 100%;
text-align: center;
}
.discovery-section-title{
    padding:0 0 5% 0;
}
.discover-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2.50rem;
    /* border: 1px solid gray; */
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left; */
}
.discovery-items-content{
    width: 20rem;
}
.discovery-items-content a{
    text-decoration: none;
    color: var(--Secondary-Color);
    padding-block: 10px;
    border-bottom: 1px var(--Secondary-Color) solid;
}
.sedan-img, .suv-img, .electric-img{
    background-position: center;
    background-size: cover;
    width: 28rem;
    height: 15rem;
}
.sedan-img{
    background-image: url("../Pictures/discover the collection/genesis.jpg");
}
.suv-img{
    background-image: url("../Pictures/discover the collection/cadilac.jpg");
}
.electric-img{
    background-image: url("../Pictures/discover the collection/tesla.jpg");
}
.discover-favorite-car img{
    width: 25rem;
}
.discovery-items-content p{
    padding-block: 1rem;
}
.discovery-items-content h1{
 padding-top: 1rem;
}


/* ////////////////// CARDS SECTION //////////// */
.cards-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}
    .card{
        border: 1px black solid;
        width: 20rem;
        /* height: 22rem; */
    }
    .card img{
        width: 16rem;
        margin-left: 10%;
    }
    .amg-pic-size img{
        width: 14rem;
    }
    .camero-pic-size img{
        width: 13rem;
       
        margin-left: 15%;
    }
    .dodge-pic-size img{
        margin-top: 1.25rem;
        margin-bottom: 1.25rem; 
        width: 17rem;
    }
    .bently-pic-size img{
        width: 17rem;
         margin-top: 0.25rem;
        margin-bottom: 0.25rem; 
    }
    .bmw-pic-size img{
        width: 15rem;
    }
    .type-milage{
        display: flex;
        align-items: center;
    }
    .price-details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px #bdbdbd solid;
        padding: 1.25rem;
        /* margin-block: 15px; */
        /* padding-top: 10px; */
    }
    /* .price-details  */
    .price-details a{
        text-decoration: none;
        color: var(--Text-Color);
        padding: 5px;
        border-bottom: 1px #979595 solid;
        margin-right: 10px;
    }
    .price-details a:hover{
        color: var(--primary-color);
        border-bottom: 1px var(--primary-color) solid;
    }
    .price-color{
        color: var(--Accent-dark-Color);
    }
    .title>* ,.type-milage>*{
        margin-left: 1.25rem;
        padding-block: 5px;
    }
 
/* //////////// END CARDS SECTION /////////// */
.footer{
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px blue solid;
}
.text-box{
    box-shadow: 0px 0px 0px 2px #2499FF;
    background-color: rgba(247, 247, 247, 0.8);
    /* transition: 0.1s ease-in-out; */
    border-radius: 25px;
    padding: 15px 5rem;
    /* height: ;
    width: ; */
    font-size: 15px;
    outline: none;
    border: none;
    margin: 1rem;

}
textarea{
    box-shadow: 0px 0px 0px 2px #2499FF;
    background-color: rgba(247, 247, 247, 0.8);
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px;
    
}
.buton {
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    background-color: var(--primary-color);
    color: white;
    font-size: 22px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 10px 40px;
    cursor: pointer;
    position: relative;
    margin: 1rem;
  }
  
  .buton::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--Secondary-Color);
    position: absolute;
    left: -4px;
    bottom: -4px;
    z-index: -1;
    border-radius: 2px;
    transition: 0.1s;
  }
  
  .buton:hover::before {
    left: -7px;
    bottom: -7px;
  }
  
  .buton:active::before {
    left: -4px;
    bottom: -4px;
  }

/* input::placeholder {
    color: #BFBFBF;
} */

/* ////////////////// MEDIA QUERY //////////// */

@media (max-width: 1470px){
    .discover-content{
        grid-template-columns: 1fr 1fr;
        place-items: center;
        
    }
    .container{
        width: 100%;
        height: auto;
        
    }
}
@media (max-width: 1420px){
    .cards-container{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media(max-width: 1080px){
    .home-content-img img{
        width: 28rem;
    }
   .home-content-text{
    width: 85%;
   }
   .home-content-text h1{
    font-size: 2.25rem;
    font-weight: bold;
    
   }
   .home-content-text p{
    margin-block-end: 1.25rem;
   
   }
}

/* ///////////media query only for cards////// */
@media(max-width: 1060px){
    .cards-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 980px){
    .discover-content{
        grid-template-columns: auto;
    }
    .discovery-items-content p{
        padding-block: 0.75rem;
        
    }
    .discovery-items-content h1{
     padding-top: 0.75;
     font-size: 1.25rem;
    }
    /* .discovery-section-title{
        font-size: 1.25rem;
    } */

}

/* //////////////Home Media Query//////// */
@media(max-width:805px){
   .home-content{
    grid-template-columns: auto;
    
    
   }
   .home-content-text{
    grid-row: 2 / 3;
    height: 50vh;
    width: 90%;
    padding: 0 0 0 13%;
    margin: 0;
   }
   .home-content-img{
     grid-row: 1/ 2;
     height: 50vh;
     width: 100%;
     padding: 5% 0 0 0;
     margin: 0;
     text-align: center;
     /* background-color: #07930c; */
   }

}

/* /////////// CARDS MEDIA QUERY ////////// */
@media(max-width: 705px){
    .cards-container{
        grid-template-columns: auto;
    }
}
@media(max-width: 520px){
    .home-content-img img{
        width: 25rem;
        
    }
    .home-content-img{
        padding: 10% 0 0 0;
    }
    .home-content-text h1{
       margin-block: 5px;
       font-size: 2rem;
    }
    .home-content-text p:nth-child(1){
        margin: 0;
    }
    .home-content-text p:nth-child(2){
        margin:0 0 0 2rem;
    }
    /* /////////// Discovery Section /////////// */
    .sedan-img, .suv-img, .electric-img{
        width: 25rem;
        height: 12rem;
    }
   
}

@media(max-width: 480px){
    .home-content-img{
        height: auto;
    }
    .home-content-text{
        height: auto;
        margin-block-end: 5rem;
    }
    .home-content-img img{
        width: 22rem;
        margin-top: 2.25rem;
    }


    /* //////////// */

    /* .discovery-items-content p{
        padding-block: 0.25rem;
    }
    .discovery-items-content h1{
     padding-top: 0.75;
     font-size: 1.25rem;
    } */
    .title-discovery{
        margin-block: 3rem;
    }
    .discovery-section-title{
        font-size: 1.25rem;
    }
    .sedan-img, .suv-img, .electric-img{
        width: 21rem;
        height: 10rem;
        margin-block: 1.25rem;
        margin-block-end: 0.75rem
    }
    .discovery-items-content a{
        font-size: calc(0.75rem + 3px);
        padding-bottom: 0.25rem;
        color: var(--primary-color);
        border-bottom: 1px var(--primary-color) solid;
    }
    /* /////////// */
    .card{
        border: 1px var(--Text-Color) solid;
        width: 18rem;
    }
    .card img{
        width: 15rem;
        margin-left: 7%;
    }
    .price-details{
        padding: 0.75rem;
        margin-top: 5px;
    }
    /* //////////// */ 
    
}
@media (max-width: 460px){
    /* header{
        border-bottom: none;
    } */
    .primary-navigation a{
        color: #333;
        font-size: 1.25rem;
        
    }
    .primary-navigation{
        position: fixed;
        inset: 0 0 0 30%;
        /* background-color: hsla(0, 0%, 0%, 0.400); */
        background-color: #e4e4e4;
        backdrop-filter: blur(2rem);
        flex-direction: column;
        padding: min(25vh, 8rem) 2rem;
        gap: 2.75rem;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        /* width: 2rem;
    aspect-ratio: 1; */
        right: -1rem;
        top: -1rem;
        z-index: 1000;
       }
       .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
     }
}


